<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integram</title>
    <link rel="icon" href="https://storage.googleapis.com/tarea-1-2024-1/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="app">
        <img src="https://storage.googleapis.com/tarea-1-2024-1/integram_logo.png" alt="logo" width="400" height="80">
        <div v-if="userToken">
            You are using token: {{ userToken }}, user: {{ currentUser.username }}

            <button @click="logout">Logout</button>

            <div v-if="!selectedUser">
                <div class="posts-container">
                    <div v-for="post in posts" :key="post.id" class="post">
                        <div class="post-author" @click="selectUser(post.userId)">
                            <img :src="post.avatar" alt="avatar" width="50" height="50">
                            <span>{{ post.username }} ({{ post.userId }})</span>
                        </div>
                        <span style="color:grey">{{ post.created }}</span>
                        <hr>
                        <div class="post-content-and-image">
                            <div class="post-content">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.content }}</p>
                            </div>
                            <div class="post-image">
                                <div v-if="post.image">
                                    <img :src="post.image" alt="post image" width="200" height="200">
                                </div>
                                <div v-else>
                                    No image
                                </div>
                            </div>
                        </div>
                        <h3>Comments:</h3>
                        <div class="comments" v-if="post.comments && post.comments.length > 0">
                            <div v-for="comment in post.comments" :key="comment.id" class="comment">
                                <div class="comment-author" @click="selectUser(comment.userId)">
                                    <img :src="comment.avatar" alt="avatar" width="20" height="20">
                                    <span>{{ comment.username }} ({{ comment.userId }})</span>
                                </div>
                                {{ comment.content }}
                                <br>
                                <span style="color:grey">{{ comment.created }}</span>
                            </div>
                        </div>
                        <input type="text" v-model="post.newCommentText" placeholder="Add comment">
                        <button @click="addComment(post)">Add Comment</button>
                        <button @click="addCommentsToPost(post)">Fetch Comments</button>
                    </div>
                </div>
            </div>
            <div v-else>
                <button @click="selectUser(undefined)">Back</button>
                <div class="user-profile">
                    <div class="user-info">
                        <img :src="selectedUser.avatar" alt="avatar" width="100" height="100">
                        <h2>{{ selectedUser.username }}</h2>
                    </div>                
                    <div v-if="isSelf">
                        <h3>Friends</h3>
                        <div v-for="friendship in friendships" :key="friendship.id">
                            <div v-if="friendship.userId == currentUser.id && friendship.status == 'accepted'">
                                <span @click="selectUser(friendship.friendId)">
                                    {{users[friendship.friendId].username}}
                                </span>
                            </div>
                        </div>
                        <h3>Friend Requests</h3>
                        <div v-for="friendship in friendships" :key="friendship.id">
                            <div v-if="friendship.userId == currentUser.id && friendship.status == 'pending'">
                                {{friendship}}
                                <button @click="acceptFriendship(friendship)">Accept</button>
                            </div>
                        </div>
                    </div>

                    <div v-if="areFriends || isSelf">
                        <h3 v-if="!isSelf">
                            Eres amigo de {{ selectedUser.username }}
                        </h3>
                        <h3>Posts:</h3>
                        <div class="posts-container">
                            <div v-for="post in userProfilePosts" :key="post.id" class="post">
                                <div class="post-author" @click="selectUser(post.userId)">
                                    <img :src="post.avatar" alt="avatar" width="50" height="50">
                                    <span>{{ post.username }} ({{ post.userId }})</span>
                                </div>
                                <span style="color:grey">{{ post.created }}</span>
                                <hr>
                                <div class="post-content-and-image">
                                    <div class="post-content">
                                        <h2>{{ post.title }}</h2>
                                        <p>{{ post.content }}</p>
                                    </div>
                                    <div class="post-image">
                                        <div v-if="post.image">
                                            <img :src="post.image" alt="post image" width="200" height="200">
                                        </div>
                                        <div v-else>
                                            No image
                                        </div>
                                    </div>
                                </div>
                                <h3>Comments:</h3>
                                <div class="comments" v-if="post.comments && post.comments.length > 0">
                                    <div v-for="comment in post.comments" :key="comment.id" class="comment">
                                        <div class="comment-author" @click="selectUser(comment.userId)">
                                            <img :src="comment.avatar" alt="avatar" width="20" height="20">
                                            <span>{{ comment.username }} ({{ comment.userId }})</span>
                                        </div>
                                        {{ comment.content }}
                                        <br>
                                        <span style="color:grey">{{ comment.created }}</span>
                                    </div>
                                </div>
                                <input type="text" v-model="post.newCommentText" placeholder="Add comment">
                                <button @click="addComment(post)">Add Comment</button>
                                <button @click="addCommentsToPost(post)">Fetch Comments</button>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <h3>
                            No eres amigo de {{ selectedUser.username }}
                        </h3>
                        <button @click="addFriend(selectedUser.id)">
                            Agregar amigo
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div v-else class="login">
            <h3>Login:</h3>
            <input type="text" v-model="username" placeholder="Username">
            <input type="password" v-model="password" placeholder="Password">
            <button @click="login">Login</button>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {

                console.log(window.location.host)
                let backendUrl = 'http://localhost:8888'

                // let backendUrl = 'http://localhost:8888'
                if (!(window.location.host === 'localhost:8888')) {
                    backendUrl = 'https://tarea-1-2024-1.onrender.com'
                }

                return {
                    posts: [],
                    newCommentText: '',
                    username: '',
                    password: '',
                    userToken: undefined,
                    currentUser: {},
                    users: {},
                    selectedUser: undefined,
                    friendships: [],
                    userProfilePosts: [],
                    backendUrl: backendUrl
                };
            },
            created() {
                this.getToken();
                if (this.userToken) {
                    this.fetchUser();
                    this.fetchUsers();
                    this.fetchFriendships();
                    this.fetchPosts();
                }
            },
            methods: {
                getToken() {
                    // Make a GET request to get token
                    let token = localStorage.getItem('token');
                    if (token) {
                        this.userToken = token;
                    }
                },
                selectUser(userId) {
                    this.selectedUser = this.users[userId];
                    if (userId) {
                        this.fetchUserPosts(userId);
                    }
                },
                fetchUser() {
                    // Make a GET request to fetch posts
                    fetch(this.backendUrl + '/api/user', {headers: { 'Authorization': `Bearer ${this.userToken}` }})
                        .then(response => response.json()).then(response => {
                            if (response.detail) {
                                this.userToken = undefined;
                                localStorage.removeItem('token');
                            }
                            return response;
                        })
                        .then(user => {
                            console.log('user: ', user);
                            this.currentUser = user;
                        })
                        .catch(error => console.error('Error fetching posts:', error));
                },
                addFriend(friendId) {
                    // Make a POST request to add friend
                    fetch(this.backendUrl + '/api/friendships', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + this.userToken
                        },
                        body: JSON.stringify({
                            friendId: friendId
                        })
                    })
                    .then(response => response.json())
                    .then(friendship => {
                        this.friendships.push(friendship);
                    })
                    .catch(error => console.error('Error adding friend:', error));
                },
                acceptFriendship(friendship) {
                    // Make a PUT request to accept friend
                    fetch(this.backendUrl + `/api/friendships/${friendship.id}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + this.userToken
                        },
                        body: JSON.stringify({
                            status: 'accepted'
                        })
                    })
                    .then(response => response.json())
                    .then(friendship => {
                        this.fetchFriendships();
                    })
                    .catch(error => console.error('Error accepting friend:', error));
                },
                async fetchUsers() {
                    try {
                        const response = await fetch(this.backendUrl + '/api/users', { headers: { 'Authorization': `Bearer ${this.userToken}` } });
                        const users = await response.json();                 
                        for (let user of users) {
                            this.users[user.id] = user;
                        }
                    } catch (error) {
                        console.error('Error fetching posts:', error);
                    }
                },
                async fetchFriendships() {
                    try {
                        const response = await fetch(this.backendUrl + '/api/friendships', { headers: { 'Authorization': `Bearer ${this.userToken}` } });
                        const friendships = await response.json();
                        this.friendships = friendships;         
                    } catch (error) {
                        console.error('Error fetching posts:', error);
                    }
                },
                async fetchPosts() {
                    try {
                        const response = await fetch(this.backendUrl + '/api/posts', { headers: { 'Authorization': `Bearer ${this.userToken}` } });
                        const posts = await response.json();
                        for (let i = 0; i < posts.length; i++) {
                            let post = posts[i];
                            if (this.users[post.userId]) {
                                post.username = this.users[post.userId].username;
                                post.avatar = this.users[post.userId].avatar;
                            }
                        }
                        this.posts = posts;
                    } catch (error) {
                        console.error('Error fetching posts:', error);
                    }
                },
                async fetchUserPosts(userId) {
                    try {
                        const response = await fetch(this.backendUrl + `/api/posts?userId=${userId}`, { headers: { 'Authorization': `Bearer ${this.userToken}` } });
                        const posts = await response.json();
                        for (let i = 0; i < posts.length; i++) {
                            let post = posts[i];
                            if (this.users[post.userId]) {
                                post.username = this.users[post.userId].username;
                                post.avatar = this.users[post.userId].avatar;
                            }
                        }
                        this.userProfilePosts = posts;
                    } catch (error) {
                        console.error('Error fetching posts:', error);
                    }
                },
                async fetchComments(postId) {
                    try {
                        const response = await fetch(this.backendUrl + `/api/comments?postId=${postId}`, { headers: { 'Authorization': `Bearer ${this.userToken}` } });
                        if (!response.ok) {
                            throw new Error('Failed to fetch comments');
                        }
                        let comments = await response.json();
                        for (let comment of comments) {
                            comment.username = this.users[comment.userId].username;
                            comment.avatar = this.users[comment.userId].avatar;
                        }
                        return comments;
                    } catch (error) {
                        console.error('Error fetching comments:', error);
                        return []; // return an empty array or handle error accordingly
                    }
                },
                addCommentsToPost(post) {
                    this.fetchComments(post.id)
                        .then(comments => {
                            post.comments = comments;
                        })
                        .catch(error => console.error('Error adding comments to post:', error));
                },
                login() {
                    // Make a POST request to login
                    fetch(this.backendUrl + '/api/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: this.username,
                            password: this.password
                        })
                    })
                    .then(response => response.json())
                    .then(body => {
                        this.currentUser = {username: this.username};
                        this.userToken = body.token;
                        localStorage.setItem('token', body.token);
                        this.fetchPosts();
                    })
                    .catch(error => console.error('Error logging in:', error));
                },
                logout() {
                    this.userToken = undefined;
                    localStorage.removeItem('token');
                },
                addComment(post) {
                    if (!post.newCommentText) return;
                    // Make a POST request to add comment
                    fetch(this.backendUrl + '/api/comments', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + this.userToken
                        },
                        body: JSON.stringify({
                            postId: post.id,
                            content: post.newCommentText
                        })
                    })
                    .then(response => response.json())
                    .then(comment => {
                        comment.avatar = this.currentUser.avatar;
                        comment.username = this.currentUser.username;
                        if (!post.comments) {
                            post.comments = [];
                        }
                        post.comments.push(comment);
                        post.newCommentText = ''; 
                    })
                    .catch(error => console.error('Error adding comment:', error));
                }
            },
            computed: {
                areFriends() {
                    return this.friendships.some(friendship => {
                        return ((friendship.userId === this.currentUser.id  && friendship.friendId === this.selectedUser.id) || 
                            (friendship.userId === this.selectedUser.id && friendship.friendId === this.currentUser.id)) && friendship.status === 'accepted';
                    });
                },
                isSelf() {
                    return this.currentUser.id === this.selectedUser.id;
                }
            }
        });

        app.mount('#app');
    </script>
    <style>
        .login {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid black;
            margin: 10px;
            padding: 5px;
        }
        .post {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            width: 50%;
            align-self: center;
        }

        .post:hover {
            background-color: #f0f0f0;
            scale: 1.01;
        }

        .comments {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            overflow: auto;
            height: 150px;
        }

        .comment {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }

        .post-author {
            display: flex;
            align-items: center;
            gap: 10px;
            color: blue;
        }

        .comment-author {
            display: flex;
            align-items: center;
            gap: 10px;
            color: green;
        }

        .post-content-and-image {
            display: flex;
            gap: 10px;
            justify-content: space-evenly;
        }

        .posts-container {
            display: flex;
            flex-flow: column;
            height: 750px;
            overflow: auto;
        }

        .user-profile {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border: 1px solid black;
            margin: 10px;
            padding: 5px;
        }

        .user-info {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    </style>
</body>
</html>